/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a192f;
    color: #ccd6f6;
}

a {
    color: #64ffda;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #0a192f;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    margin: 0 15px;
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0px 0;
}

h1, h2, h3 {
    color: #ccd6f6;
}

/* Estilos específicos */
.section {
    padding-top: 100px; /* Espaciado superior para las secciones */
    margin-top: -100px; /* Margen negativo para contrarrestar el espaciado superior */
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 80vh;
}

.hero h1 {
    margin: 0;
    font-size: 22px;
    color: #64ffda;
}

.hero h2 {
    margin: 10px 0;
    font-size: 60px;
    color: #ccd6f6;
}

.hero h3 {
    margin: 10px 0;
    font-size: 50px;
    color: #8892b0;
}

.hero p {
    font-size: 20px;
    max-width: 600px;
}

.section-title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.section-title::before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: #64ffda;
    margin-right: 15px;
}

.skills, .projects, .star, .contact {
    margin-bottom: 100px;
}

/* Estilos para la sección de contacto */
.contact {
    text-align: left;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.social-links li {
    display: flex;
    margin: 20px 20px;
}

.social-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ccd6f6;
    font-size: 18px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #64ffda;
}

.social-links i {
    font-size: 24px; /* Ajusta el tamaño del icono */
    margin-right: 8px; /* Espacio entre el icono y el texto */
    transition: transform 0.3s;
}

.social-links a:hover i {
    transform: scale(1.1);
}

.skill-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Asegura que las tarjetas estén centradas */
}

.skill-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
    text-align: center;
}

.skill-card h3 {
    margin-top: 0;
    color: #333;
}

.skill-card p {
    margin-top: 0;
    color: #525151;
}

.skill-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.skill-card .skill-icon {
    width: 35px; /* Ajusta el tamaño según sea necesario */
    height: auto;
}

.project-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Espacio entre las tarjetas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    background-color: transparent; /* Fondo transparente para el contenedor */
}

.project-card {
    width: calc(50% - 15px); /* Ancho de cada tarjeta */
    margin-bottom: 30px; /* Espacio entre las filas */
    overflow: hidden; /* Evita que el contenido sobresalga */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra más sutil */
    transition: transform 0.3s ease;
    background-color: #101c2d; /* Fondo específico para cada tarjeta */
    border-radius: 12px; /* Añade bordes redondeados a cada tarjeta */
}

.project-card:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el ratón */
}

.project-card a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.project-content {
    padding: 20px;
}

.project-content img {
    width: 100%;
    height: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
}

.project-content h3 {
    margin-top: 15px;
    font-size: 1.4rem;
    color: #ccd6f6; /* Color del título */
}

.project-content p {
    color: #8892b0; /* Color del texto */
    line-height: 1.5;
}

/* Estilos para las tarjetas de logro */
.star-card {
    background-color: #101c2d;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    max-width: 100%; /* Ajusta el ancho máximo de la tarjeta */
}

.star-card:hover {
    transform: translateY(-5px);
}

.star-content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding: 20px;
}

.star-content img {
    width: 350px; /* Ajusta el ancho de la imagen */
    height: auto; /* Ajusta la altura automáticamente */
    border-radius: 8px; /* Añade bordes redondeados a la imagen */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.star-content div {
    display: flex;
    flex-direction: column;
}

.star-content h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: #ccd6f6;
    font-size: 20px;
    text-align: left;
}

.star-content h3 a {
    color: #ccd6f6; /* Color diferenciado para el enlace */
    text-decoration: none; /* Elimina el subrayado del enlace */
}

.star-content h3 a:hover {
    text-decoration: underline; /* Añade subrayado al pasar el ratón */
}

.star-content p {
    margin-top: 5px;
    color: #8892b0;
}
/* Estilos para el ícono dentro de las tarjetas de logros */
.star-content .globe-icon {
    position: absolute;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior según sea necesario */
    right: 20px; /* Ajusta la distancia desde el borde derecho según sea necesario */
    font-size: 24px; /* Tamaño del ícono */
    color: #64ffda; /* Color del ícono */
}




/* Estilos para el canvas */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none; /* Permite que el canvas no interfiera con los eventos de puntero */
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #0a192f;
    color: #8892b0;
}
/* Estilos generales y modo claro aquí... */

/* Botón de cambio de tema */
.theme-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 24px;
    position: fixed;
    top: 10px; /* Distancia desde arriba */
    right: 10px; /* Distancia desde la derecha */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color 0.3s;
    z-index: 1000; /* Asegura que esté sobre otros elementos */
}

.theme-toggle:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.light-icon, .dark-icon {
    position: absolute;
    transition: opacity 0.3s;
}

.light-icon {
    opacity: 0;
}

body.light-mode .theme-toggle .light-icon {
    opacity: 1;
}

body.light-mode .theme-toggle .dark-icon {
    opacity: 0;
}

/* Modo claro */
.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.light-mode a {
    color: #1a73e8;
}

.light-mode header {
    background-color: #f0f0f0;
}

.light-mode .skill-card {
    background-color: #f8f9fa;
    color: #000000;
}

.light-mode .project-card, .light-mode .star-card {
    background-color: #ffffff;
}

.light-mode .hero h1 {
    color: #1a73e8;
}

.light-mode .hero h2 {
    color: #333333;
}

.light-mode .hero h3 {
    color: #666666;
}

.light-mode .section-title::before {
    background-color: #1a73e8;
}

.light-mode footer {
    background-color: #f0f0f0;
    color: #333333;
}

.light-mode .contact a {
    border: 1px solid #1a73e8;
    color: #1a73e8;
}

.light-mode .contact a:hover {
    background-color: #1a73e8;
    color: #ffffff;
}
